[submodule "lvm-on-hetzner"]
	path = lvm-on-hetzner
	url = https://github.com/ryssroad/lvm-on-hetzner
[submodule "xx-network"]
	path = xx-network
	url = https://github.com/ryssroad/xx-network
[submodule "vercel-ppub"]
	path = vercel-ppub
	url = https://github.com/ryssroad/vercel-ppub
